@if (User.Identity.IsAuthenticated)
{
  <li class="nav-item"><p class="navbar-text">Hello, @User.Identity.Name</p> 
  <a onclick="document.getElementById('logout_form').submit();" style="cursor: pointer;">Log out</a> </li>
  <li class="nav-link text-dark">
  <form asp-controller="Account" asp-action="Logout" method="post" id="logout_form"></form></li>
}
else
{
  <li class="nav-link text-dark" ><a asp-controller="Account" asp-action="Login">Log in</a></li>
}