@using ge_app.Models

@model IEnumerable<ge_app.Models.ProcessModel>

@{
    ViewData["Title"] = "Reporting Tools";
}

<div class="container">
    
    <h3 class="display-4">Reporting Tools</h3>

    <p>The following reporting tools are available to assist in outputing results in useful formats</p>
    
    <h3>@Html.ActionLink("Latex to PDF format", "Latex2PDFOutput")</h3>
    <p>Enter text and upload files in Latex format and convert them to Portable Document Format (PDF)</p> 
    
    <h3>@Html.ActionLink("JSON to PDF format", "JSON2PDFOutput")</h3>
    <p>Enter JSON formated data and using latex template files convert to Portable Document Format (PDF)</p> 
</div>
