@using ge_app.Models
@model IEnumerable<ge_app.Models.ProcessModel>
    
@{
    ViewData["Title"] = "Data Processing Procedures";
}

<div class="container">
    <h3 class="display-4">Data Processing</h3>
  <p>The following are examples of data processing where files are uploaded to the remote server, processed and then downloaded</p>
<h3>@Html.ActionLink("Export Plaxis Results", "GetPlaxisResults")</h3>
<p>Extract results from Plaxis 2d and 3d Analysis</p><p>The remote server connects to Plaxis 2d or Plaxis 3d Output Module on a desktop or laptop, extract selected results and saves them as csv files for download by the client</p>

<h3>@Html.ActionLink("Summary of AGS Files", "GetAGSSummary")</h3>
<p>Create a summary of the quantity of records in AGS groups in multiple AGS files.</p> <p>Multiple AGS files are uploaded to the remote server, it reads the files and creates summary csv files for download by the client</p> 


