@using ge_app.Models
@model IEnumerable<ge_app.Models.ProcessModel>
    
@{
    ViewData["Title"] = "Pile Resistance Toolbox";
}

<div class="container">
    <h3 class="display-4">Pile Resistance Toolbox</h3>
</div>