@using ge_app.Models
@model IEnumerable<ge_app.Models.ProcessModel>
    
@{
    ViewData["Title"] = "Groundwater Monitoring Toolbox";
}

<div class="container">
    <h1 class="display-4">Groundwater Monitoring Toolbox</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Groundwater">Groundwater Monitoring</a>.</p>

    @if (Model != null)  
   {  
       foreach (var item in Model)  
       {  
       <ul id="items">  
  
           <li>  
               @Html.DisplayFor(modelItem => item.name) 
               <p> @Html.DisplayFor(modelItem => item.description)   
                    <a href="@Href("~/static/" + item.html_page)">
                   @Html.DisplayFor(modelItem => item.name) </a>
                </p> 
           </li>  
       </ul>  
       }  
   }  
</div>
