@using ge_app.Models
@model IEnumerable<ge_app.Models.ProcessModel>
    
@{
    ViewData["Title"] = "Groundwater Monitoring Toolbox";
}

<div class="container">
    <h4 class="display-4">Groundwater Monitoring Toolbox</h4>
    <p>The following are examples of reading of water data logger files and connections to monitoring records in a SQL database</p>
    <h4>@Html.ActionLink("View MOND Table", "MONDResults")</h4>
    <p>Connect to an SQL gINT database and query the monitoring data in the MOND table. 
    <h4>@Html.ActionLink("View Repository Files", "RepositoryData")</h4>
    <p>Connect Ground Engineering Data Repository and view data logger files. 
    
    
  </div>
