
@model ge_app.Models.ProcessModel
    
@{
    ViewData["Title"] = "Get MOND Results";
}

    <div class="container">
        <h4>Get MOND Results</h4>
        <form method="get" action="/action_page.php" id="get_list_form">
            <div class="row col-sm-12">  
                <div class="col-sm-6"> 
                    <div class="form-group">
                        <label for="qryProjectId">ProjectId
                        <button class="button" type="button" onclick="get_projects()">Load Projects</button>
                        </label>
                        <select class="form-control" type="text" id="qryProjectId" name="qryProjectId"> 
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="qryMondType">Reading Type (MOND_TYPE)</label>
                        <button class="button" type="button" onclick="get_mondtypes()">Load Types</button>
                        <select class="form-control" type="text" id="qryMondType" name="qryMondType"> 
                        
                        </select>
                        @* <input class="form-control" type="text" id="qryMOND_TYPE" name="qryMOND_TYPE" placeholder="...enter mond_type"> *@
                    </div>
                    <div class="form-group">
                        <label for="qryPointId">Location (PointId) </label>
                        <button class="button" type="button" onclick="get_pointsbymond()">Load Points</button>
                        </label>
                        <select class="form-control" type="text" id="qryPointId" name="qryPointId"> 
                        
                        </select>
                    </div>
                   <div class="form-group">
                        <label for="qryInterval">Reading Interval</label>
                        <select class="form-control" type="text" id="qryInterval" name="qryInterval">
                            <option value="individual">Individual Readings</option>
                            <option value="day_max">Daily Max</option>
                            <option value="day_min">Daily Min</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">      
                    <div class="form-group">
                        <label for="qryFromDT">Readings from DateTime</label>
                        <input class="form-control" type="datetime-local" id="qryFromDT" name="qryFromDT" placeholder="...enter mond_type">
                    </div>
                    <div class="form-group">
                        <label for="qryToDT">Readings to DateTime</label>
                        <input class="form-control" type="datetime-local" id="qryToDT" name="qryToDT" placeholder="...enter mond_type">
                    </div>
                    <div class="form-group">
                                <label for="qryPage">Page No</label>
                                <input class="form-control" type="text" id="qryPage" name="qryPage" value="0">
                    </div>  
                    <div class="form-group">
                                <label for="qryPage">Page Size</label>
                                <input class="form-control" type="text" id="qrySize" name="qrySize" value="1000">
                    </div>
                    <div class="form-group">  
                                <input class="button" type="button" value="Previous Page" onclick="previous_page()">  
                                <input class="button" type="button" value="Get MOND Results" onclick="get_mond_results()">  
                                <input class="button" type="button" value="Next Page" onclick="next_page()">  
                                <a id="url_json" target="_blank" rel="noopener" >JSON</a>
                                <a id="url_csv" target="_blank" rel="noopener">CSV</a>
                    </div>
                </div>
            </div>   
        </form>
            <div class="table-wrapper-scroll-y mond_list-scrollbar">
                <table class="table table-striped" id="mond_table">
                    <thead id="mond_head">
                    </thead>
                <tbody id="mond_body"></tbody>
                </table>
            </div>

            <p id="response"> </p>
           

           <canvas id="mychart"></canvas>
    </div>  
    
    <script src="~/lib/chart.js/dist/chart.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
   
    <script type="text/javascript">
    const data = {
        datasets: [{
          label: 'MOND_TYPE',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [{x: 0, y: 0}]
        }]
      };

      const options = {
        scales: {
          x: {
                title: {
                display: true,
                text: 'Reading DateTime'
                },
                type:'time', 
                time: {
                    unit: 'day',
                    unitStepSize: 7,
                    displayFormats:{
                        'day':'yyyy MMM dd'
                    }
                }
            },
          y: {
            title: {
            display: true,
            text: 'Select MOND_TYPE'
            }
          }
        }
      }

    
      const config = {
        type: 'scatter',
        data: data,
        options: options
      };
    
      var ctx = document.getElementById('mychart').getContext("2d");
      
      const mychart = new Chart(
              ctx,
              config
      );

    function resetChart () {

        mychart.data = data        

    }
    function renderChart (data, index) {

      var chart_select = get_value("chart_select");
      var new_data = []
      
      for (let i = 0; i < data.length; i++) {
            var pt = new Object
            @* pt.x = Date.parse(data[i].DateTime); *@
            pt.x = data[i].DateTime;
            pt.y = parseFloat(data[i].MOND_RDNG);
            new_data.push(pt)
      }
      
      options.scales.y.title.text= data[0].MOND_TYPE + ' ' + data[0].MOND_UNIT;
            
      addData(mychart,new_data,data[0].MOND_TYPE, index);
      
    }

    function removeData(ds1) {
    let removalIndex = data.datasets.indexOf(ds1); //Locate index of ds1
        if(removalIndex >= 0) { //make sure this element exists in the array
            data.datasets.splice(removalIndex, 1);
        }
    }
    function addData(chart, data, label, datasetIndex) {
      chart.data.datasets[datasetIndex].label = label;
      chart.data.datasets[datasetIndex].data = data;
      chart.update();
    }

    function init_form () {
       
        $("#get_list_form").submit(function(e) {
            e.preventDefault()
            get_mond_results()
        });
    }

    function get_projects() {
        init_form()
        var url = gint_host + '/project';
        httpGetAsync(url,display_projects)
    }
    function display_projects(response) {
        var json_data = JSON.parse(response);
        var sel = document.getElementById("qryProjectId");
        sel.innerHTML = ""
        for (var i = 0; i < json_data.length; i++) {
            var project = json_data[i];
            op = document.createElement('option');
            op.setAttribute("value",project.gINTProjectID)
            op.innerHTML = project.PROJ_NAME 
            sel.appendChild(op)
        }
    }
    function get_mondtypes() {
        var projectid = get_value("qryProjectId");
        var url = gint_host + '/mond/uniquetypes/project/'+ projectid;
        httpGetAsync(url,display_mondtypes)
    }
    function display_mondtypes(response) {
        var json_data = JSON.parse(response);
        var sel = document.getElementById("qryMondType");
        sel.innerHTML = ""
        for (var i = 0; i < json_data.length; i++) {
            var type = json_data[i];
            op = document.createElement('option');
            op.setAttribute("value",type.MOND_TYPE)
            op.innerHTML = type.MOND_TYPE + ' (' + type.count + ')' 
            sel.appendChild(op)
        }

    }
    function get_pointsbymond() {
        var projectid = get_value("qryProjectId");
        var mondtype = get_value("qryMondType");
        var url = gint_host + '/mond/uniquetypes/project/'+ projectid + '/type/' + mondtype;

        // test_OktaCORS()
        // if (!OAuth2Client_gINT.token) {
        //    get_token (OAuth2Client_gINT)
        // }
        // httpGetAsync(url,display_points, OAuth2Client_gINT.token)
        
        httpGetAsync(url,display_points)
        
    }

    function get_points() {
        var projectid = get_value("qryProjectId");
        var url = gint_host + '/point/project/' + projectid;

        // test_OktaCORS()
        // if (!OAuth2Client_gINT.token) {
        //    get_token (OAuth2Client_gINT)
        // }
        // httpGetAsync(url,display_points, OAuth2Client_gINT.token)
        
        httpGetAsync(url,display_points)
        
    }
    
    function display_points(response) {
        var json_data = JSON.parse(response);
        var sel = document.getElementById("qryPointId");
        sel.innerHTML = ""
        for (var i = 0; i < json_data.length; i++) {
            var point = json_data[i];
            op = document.createElement('option');
            op.setAttribute("value",point.PointID)
            if (point.count) { 
                op.innerHTML = point.PointID + ' (' + point.count + ': ' + point.FromDT + '-' + point.ToDT + ')'
            } else {
                op.innerHTML = point.PointID  
            }
            sel.appendChild(op)
        }

    }

    function previous_page() {
        var page = get_value("qryPage");
        if (page > 0) {
        set_value("qryPage", parseInt(page) - 1);
        }
        get_mond_results();
    }
    
    function next_page() {
        var page = get_value("qryPage");
        set_value("qryPage", parseInt(page) + 1);
        get_mond_results();
    }

    function get_mond_results() {
        var projectid = get_value("qryProjectId");
        var pointid = get_value("qryPointId");
        var mond_type = get_value("qryMondType");
        var from_dt = get_value("qryFromDT");
        var to_dt = get_value("qryToDT");
        var page = get_value("qryPage");
        var size = get_value("qrySize");
        dateformat = 'YYYY-MM-DDTHH:m:s';

        var url_download = gint_host + '/mond/project/' + projectid + '/point/' + pointid + '/type/' + mond_type + '/download';
        var add = '/?';
        
        if (from_dt) {
            var d = new Date(from_dt)
            url_download += add + 'from=' + d.toISOString();
            add = "&";
        } 

        if (to_dt) {
            var d = new Date(to_dt)
            url_download += add + 'to=' + d.toISOString();
            add = "&";
        } 
        
        if (page && size) {   
            url_download += add + 'size=' + size + '&page=' + page
            add = "&"
        }  
        url = url_download.replace('/download','');
        
        var e = document.getElementById("url_csv");
            url_csv = url_download + add + 'format=csv'
            e.setAttribute ('href',url_csv);
        
        var e = document.getElementById("url_json");
            url_json = url_download + add + 'format=json'
            e.setAttribute ('href',url_json);
            
        httpGetAsync(url,display_list);
    }
   
    function display_list (response) {
        var show_fields = ['PointID','MOND_TYPE','ItemKey','MONG_DIS','DateTime','MOND_RDNG','MOND_REM']
        var json_data = JSON.parse(response);
        var thead = document.getElementById("mond_head");
        thead.innerHTML = "";
        tr = document.createElement('tr');
        th = document.createElement('th');
            th.setAttribute("class","d-none");
            th.innerHTML = "GintRecID";
            tr.appendChild(th);
        for (var j = 0; j < show_fields.length; j++) {
            th = document.createElement('th')
            th.innerHTML = show_fields[j];
            tr.appendChild(th);
        }
        thead.appendChild(tr)
        
        var tbody = document.getElementById("mond_body");
        tbody.innerHTML = "";
        for (var i = 0; i < json_data.length; i++) {
        var mond = json_data[i];
        tr = document.createElement('tr');
             td = document.createElement('td')
                td.setAttribute("class","d-none")
                td.innerHTML = mond['GintRecID']
            tr.appendChild(td)
            for (var j = 0; j < show_fields.length; j++) {
                td = document.createElement('td')
                td.innerHTML = mond[show_fields[j]]
            tr.appendChild(td)
            }
            @* td = document.createElement('td')
                btn = document.createElement ('button')
                btn.setAttribute("class", "button")
                btn.setAttribute("onclick", "get_result('" + mond.gINTRecID + "')")
                btn.innerHTML = "Details"
                td.appendChild(btn)
                btn = document.createElement ('button')
                btn.setAttribute("class", "button")
                btn.setAttribute("onclick", "update_mond('" + mond.gINTRecID + "')")
                btn.innerHTML = "Update",
                td.appendChild(btn) 
            tr.appendChild(td) *@
        tbody.appendChild(tr);
        } 

        resetChart ();

        var currentDT = new Date().toISOString();
        
        if (json_data.length>0){ 
            set_innerHTML ("response",  'Records returned: Count = ' + json_data.length  + '; Type = ' + json_data[0].MOND_TYPE)
            renderChart (json_data, 0);
        } else {
            set_innerHTML ("response",'No records returned')
        }
    }
    </script>
