
@model ge_app.Models.ProcessModel
    
@{
    ViewData["Title"] = "Get MOND Results";
}

    <div class="container">
        <h4>Get MOND Results</h4>
        <form action="http://emi-gis-ps.scottwilson.co.uk/ge_repository/ge_gINT/getMONG" method="get" id="get_list_form">
            <div class="row">  
                <div class="col-sm-6"> 
                    <div class="form-group">
                        <label for="ProjectId">ProjectId
                        <button class="button" type="button" onclick="get_projects()">Load Projects</button>
                        </label>
                        <select class="form-control" type="text" id="qryProjectId" name="qryProjectId"> 
                        
                        </select>

                     </div>
                    <div class="form-group">
                        <label for="PointId">Location (PointId) </label>
                        <button class="button" type="button" onclick="get_points()">Load Points</button>
                    </label>
                    <select class="form-control" type="text" id="qryPointId" name="qryPointId"> 
                    
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="MOND_TYPE">Reading Type (MOND_TYPE)</label>
                        <input class="form-control" type="text" id="qryMOND_TYPE" name="qryMOND_TYPE" placeholder="...enter mond_type">
                    </div>
                </div>
                <div class="col-sm-6"> 
                    <input class="button" type="submit" value="Find">
                </div>
            </div>   
        </form>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped" id="mond_table">
                    <thead id="mond_head">
                    </thead>
                <tbody id="mond_body"></tbody>
                </table>
            </div>
          
    </div>  <div id = "osw-container" >

            </div>
       
    <script type="text/javascript">
    
    var mond_fields = ['POINTID','MOND_TYPE','MOND_ID','DateTime','MOND_RDNG']

    $("#mget_list_form").submit(function(e) {
        e.preventDefault()
        get_mond_results()
    });
    function get_projects() {
        var url = ge_host + '/project';
        httpGetAsync(url,display_projects)
    }
    
    function display_projects(response) {
        var json_data = JSON.parse(response);
        var sel = document.getElementById("qryProjectId");
        
        for (var i = 0; i < json_data.length; i++) {
            var project = json_data[i];
            op = document.createElement('option');
            op.setAttribute("value",project.id)
            op.innerHTML = project.name 
            sel.appendChild(op)
        }

    }

    function get_points() {
        var projectid = get_value("qryProjectId");
        var url = ge_host + '/point/project/' + projectid;
        httpGetAsync(url,display_points)
    }
    
    function display_points(response) {
        var json_data = JSON.parse(response);
        var sel = document.getElementById("qryPointId");
        
        for (var i = 0; i < json_data.length; i++) {
            var point = json_data[i];
            op = document.createElement('option');
            op.setAttribute("value",point.pointid)
            op.innerHTML = point.pointid 
            sel.appendChild(op)
        }

    }
    function get_mond_results() {
        var projectid = get_value("qryProjectId")
        var pointid = get_value("qryPointId")
        var mond_type = get_value("qryMOND_TYPE")
        if (owner !=null) {
        var url = ge_host + '/gint_MOND/?PointId=' + pointid + '&MOND_TYPE=' + mond_type;
        httpGetAsync(url,display_list)
        }
    }

    function display_list (response) {
        var json_data = JSON.parse(response);
        
        var thead = document.getElementById("mond_header");
        tr = document.createElement('tr');
        for (var j = 0; j < mond_fields.length; j++) {
            th = document.createElement('td')
            td.innerHTML = task[mond_fields[i]]
            tr.appendChild(td)
        }
        thead.appendChild(tr)
        
        var tb = document.getElementById("mond_body");
        $("#task_body").empty();
        for (var i = 0; i < json_data.length; i++) {
        var mond = json_data[i];
        tr = document.createElement('tr');
             td = document.createElement('td')
                td.setAttribute("class","d-none")
                td.innerHTML = mond['gINTRecID']
            tr.appendChild(td)
            for (var j = 0; j < mond_fields.length; j++) {
                td = document.createElement('td')
                td.innerHTML = task[mond_fields[i]]
            tr.appendChild(td)
            }
            td = document.createElement('td')
                btn = document.createElement ('button')
                btn.setAttribute("class", "button")
                btn.setAttribute("onclick", "get_result('" + task.id + "')")
                btn.innerHTML = "Details"
                td.appendChild(btn)
                btn = document.createElement ('button')
                btn.setAttribute("class", "button")
                btn.setAttribute("onclick", "update_mond('" + mond.gINTRecId + "')")
                btn.innerHTML = "Update"
                td.appendChild(btn)
            tr.appendChild(td)
        tbd.appendChild(tr);
        } 
    }
    </script>
