@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>

    <p>This portal is a collection of tools to undertake common geotechnical data, analysis and design procedures.</p> 
    <p>All these web pages act as clients to backend servers that carry out the calculations and return results. On our digital transformation road map to enterprise automation, we are defining the basic building blocks of the procedures.</p>
    <p>This decoupling of the calculation allows different user interfaces to submit and process the results and allows AI, low code interfaces to build automated end-end business work-flows. Client applications that could interface to these services include MS Office, Power Apps, Power BI</p>   
    @* <p>Learn about <a href="https://en.wikipedia.org/wiki/Geotechnical_engineering">Geotechnical Engineering</a>.</p> *@
     <p>Learn about <a href="https://hbr.org/2020/05/digital-transformation-comes-down-to-talent-in-4-key-areas">Digital Transformation Comes Down to Talent in 4 Key Areas</a> and <a href="https://www.youtube.com/watch?v=WggJlWjigew">Progress, The Fully Automated Enterprise™</a> and 
<a href=https://www.techtarget.com/searchcloudcomputing/definition/iPaaS-integration-platform-as-a-service">What is iPaaS? Guide to integration platform as a service</a>
</div>  
