@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3 class="display-4">Welcome</h3>
    <p>As part of our digital transformation, we are investigating the use of Application Programme Interfaces (AIP) to provide a distributed architecture that would allow enterprise automation</p>
    <p>This portal is a proof of concept and uses AIP's to carry out common geotechnical data, analysis and design tasks.</p> 
    <p>All the web pages on this portal act as clients to backend servers. The client submits the data, the backend server processes it, returns a results and the client presents the result.</p> 
    <p>On our digital transformation to enterprise automation, these are some of the work tasks and procedures that would be needed. The selected tasks presented in this portal are stand alone, to demontrate the viablilty of this approach, further tasks are required to string together to complete the full work flows</p>
    <p>The decoupling of the procedures allows different interfaces to submit and process the results and to build automated end to end business work-flows.</p> 
    <p>Applications that could interface to these services include MS Office, Power Apps, Power BI. </p>   
    <p>For further details of the private API's developed please see @Html.ActionLink("Details of Application Programme Interfaces (AIP)", "APIDetails") </p>

</div>  
