@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Open Source Software Details</h1>

    <p>The following open source software has been used to build these clients and servers</p>

    <h4 class="display-5">Backend AIP Calculation Servers </h4>
    <ul> 
        <li><h4>Python Server</h4>
            <p>Python 3.9</p>
            <p>Django</p>
        </li>
        <li><h4>JavaScript Server</h4>
            <p>Node.js</p></li>
        <li><h4>Java Server</h4>
            
        </li>

   </ul>

    <h4 class="display-5">Frontend Web Server</h4>
    ASP.Net Core 2.1
    bootstrap
    JavaScript
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Geotechnical_engineering">Geotechnical Engineering</a>.</p>
</div>  
