@using ge_app.Models

@model IEnumerable<ge_app.Models.ProcessModel>

@{
    ViewData["Title"] = "Shallow Foundation Tools";
}

<div class="container">
    
    <h3 class="display-4">Shallow Foundation Tools</h3>

    <p>The following geotechnical tools are available to assist in determining shallow foundation sizes</p>
    <h3>Bearing Resistance @Html.ActionLink("Undrained", "UndrainedBearingEC7") and @Html.ActionLink("Drained", "DrainedBearingEC7") </h3>
    <p>Calculate undrained and drained bearing resistance of rectancular footing using EC7 formulae. The input values are submitted to the remote server and the results are presented in a results table</p> 
   
    <h3>@Html.ActionLink("Load Inclination Factor", "EC7D1ic")</h3>
    <p>Investigate the influence of the Load Inclination Factor Ic on the bearing resistance. The input values are submitted to the remote server and the results are presented in a results table and a chart</p> 
 
</div>
