
@model ge_app.Models.ProcessModel
    
@{
    ViewData["Title"] = "Undrained Bearing Resistance EC7";
}

  <div class="container">
    <!-- Content here -->
    <h2>Undrained Bearing Resistance Calculation</h2>
    <p>(BS EN 1997-1:2004+A1:2013 Annex D (informative))</p>
    
    <div class="row">
   
        <div class="col-sm-6"> 
          <div class="form-group" id="fg_B">
            <label for="Breadth">Breadth</label>
            <input type="text" class="form-control" id="Breadth" placeholder="...effective foundation breadth (m)" >
            <!-- <p class="help-block">effective breadth of the footing</p> -->
          </div>
          <div class="form-group" id="fg_L">
            <label for="Length">Length</label>
            <input type="text" class="form-control" id="Length" placeholder="...effective foundation length (m)">
            <!-- <p class="help-block">effective length of the footing</p> -->
          </div>
        </div>
        <div class="col-sm-6"> 
          <div class="form-group" id="fg_a">
            <label for="a">Area</label>
            <input type="text" class="form-control" id="Area" placeholder="...effective foundation area">
            <!-- <p class="help-block">effective area of the footing (Length x Breadth)</p> -->
          </div>
          <div class="form-group" id="fg_H">
            <label for="HLoad">Horizontal Load</label>
            <input type="text" class="form-control" id="HLoad" placeholder="...horizontal load">
            <!-- <p class="help-block">applied horizontal load</p> -->
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
          <div class="form-group">
            <label for="c">Undrained shear strength</label>
            <input type="text" class="form-control" id="Cu" placeholder="...undrained shear strength">
            <!-- <p class="help-block">undrained shear strength</p> -->
          </div>
          <div class="form-group">
            <label for="alpha_deg">Angle of inclination of base of foundation</label>
            <input type="text" class="form-control" id="alpha_deg" placeholder="...alpha (degrees)">
            <!-- <p class="help-block">alpha angle in degrees</p> -->
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
            <label for="surcharge">Total surcharge pressure</label>
            <input type="text" class="form-control" id="surcharge" placeholder="...total surcharge pressure at formation level">
            <!-- <p class="help-block">surcharge at base of footing</p> -->
          </div>
          <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner" placeholder="...email">
            <!-- <p class="help-block">surcharge at base of footing</p> -->
          </div>
      </div>
    </div>
    <div class="row">
       <div class="col-sm-6">
          <div class="form-group">
            <label for="latex_template">Report Template</label>
            <select class="form-control" id="latex_template" name="latex_template">
            </select>
            <!-- <p class="help-block">surcharge at base of footing</p> -->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="options">Options</label>
            <input type="text" class="form-control" id="options" placeholder="a4, landscape">
            <!-- <p class="help-block">surcharge at base of footing</p> -->
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Factor</th>
          <th scope="col">q cohesion</th>
          <th scope="col"></th>
          <th scope="col">q sucharge</th>
          <th scope="col"></th>
          <th scope="col">q density</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Resistance Factor</th>
          <td>Nc</td>
          <td id="nc"></td>
          <td>Nq</td>
          <td id="nq"></td>
          <td>Ng</td>
          <td id="ng"></td>
        </tr>
        <tr>
          <th scope="row">Base inclination Factor</th>
          <td>bc</td>
          <td id="bc"></td>
          <td>bq</td>
          <td id="bq"></td> 
          <td>bg</td>
          <td id="bg"></td> 
        </tr>
        <tr>
          <th scope="row">Shape Factor</th>
          <td>sc</td>
          <td id="sc"></td>
          <td>sq</td>
          <td id="sq"></td> 
          <td>sg</td>
          <td id="sg"></td> 
        </tr>
        <tr>
          <th scope="row">Load inclination Factor</th>
          <td>ic</td>
          <td id="ic"></td>
          <td>iq</td>
          <td id="iq"></td> 
          <td>ig</td>
          <td id="ig"></td> 
        </tr>
        <tr>
          <th scope="row">Resistance</th>
          <td>q_nc</td>
          <td id="q_nc"></td>
          <td>q_nq</td>
          <td id="q_nq"></td> 
          <td>q_ng</td>
          <td id="q_ng"></td> 
        </tr>
      </tbody>
    </table>
    <div class="form-group" id ="fg_result" >
      <label for="result">D.3 Undrained Conditions (eq D.1)</label>
      <input type="text" class="form-control" id="result" placeholder="...result undrained resistance">
    </div>
    <div class="form-group" id ="fg_response" >
      <label for="response">D.3 Undrained Conditions (intermediate results eq D.1)</label>
      <textarea id="response" class = "form-control" name="response" placeholder="...intermediate results undrained resistance" rows="4" cols="50"> </textarea>
    </div>
    <button  onclick="calc()" class="btn btn-primary">Calculate</button>
    <button  onclick="populate(3,6,18,0,75,0,10,0)" class="btn btn-primary">Test</button>
    <button  onclick="get_templates()" type="button"  class="btn btn-primary">Get Templates</button>
    <button  onclick="post_json()" class="btn btn-primary">Create PDF</button>
    <a id="pdf_link" class="btn btn-primary">View PDF</a>
  </div>

<script type="text/javascript" >
    
    var calc_resp = null;

    function calc() { 
          var B =  $("#Breadth").val();
          var L = $("#Length").val();
          var a =  $("#Area").val();
          var H =  $("#HLoad").val();
          var Cu =  $("#Cu").val();
          var alpha_rad =  radians($("#alpha_deg").val());
          var q =  $("#surcharge").val();
          
          var url = host + `/EC7_Bearing/calc_EC7_D1?breadth=${B}&length=${L}&area=${a}&hload=${H}&cu=${Cu}&alpha_rad=${alpha_rad}&surcharge=${q}`
          
          console.log(url)
          httpGetAsync(url, display_result)
      }
      
      function post_json() { 
        if (calc_resp) {
          calc_resp.description = "ec7 bearing calculation from json data";
          calc_resp.checked = "owner"
          let json_data = JSON.stringify(calc_resp);
          let template  = $( "#latex_template" ).val();
          let owner  = $( "#owner" ).val();
          let dataclass = "ec7_d1"
          let filename = "ge_data.tex"
          let description ="ec7 bearing calculation from json data";
          let content = `{"template":"${template}","filename:"${filename}","description":"${description}","owner":"${owner}"}`;
          // let content = `{"template":"${template}","json_data":"${json_data}","filename:"${filename}","description":"${description}","owner":"${owner}"}`;
          let url = host + '/ge_task';
          httpPostAsync(url, content, display_pdf_link,'application/json');
        }
      }
      
      function display_pdf_link (response) {
        let resp = JSON.parse(response);
        let task = resp.data;
        if (task) {
          let a = document.getElementById("pdf_link");
          let download_file = task.files.split(",").filter(name=>name.includes(".pdf"));
          let download_url = host + "/ge_task/" + task.Id + "/download/" + download_file;
                            // Set the title.
                            // a.title = download_file; 
                            // Set the href property.
                            a.href = download_url;
                            // Create target _blank attribute to open in new window
                            a.setAttribute("target","_blank");
                            // Create the text node for anchor element.
                            // let link = document.createTextNode(download_file);
                            // Append the text node to anchor element.
                            // a.appendChild(link); 
        
        }
      }
      function get_templates() { 
        let url = host + '/ge_task/?type=macro';
        httpGetAsync(url, display_templates);
      }
           
      function display_templates(response, callback) {
      var json_data = JSON.parse(response);
      var select = document.getElementById("latex_template");
      if (json_data.data) {
          for (var i = 0; i < json_data.data.length; i++) {
            var task = json_data.data[i];
            // let value = { Id: task.Id, filename: task.filename };  
            op = document.createElement('option');
            op.setAttribute("value",task.Id);
            op.innerHTML = task.description
            select.appendChild(op);
          }
      }
    }
      function display_result(response, callback) {
          
          $("#response").html(response)
          calc_resp = JSON.parse(response);
          if (calc_resp.data) {
              let data = calc_resp.data[0];
              $('#nc').html(data["nc"]);
              $('#nq').html(data["nq"]);
              $('#ng').html(data["ng"]);
              
              $('#bc').html(data["bc"]);
              $('#bq').html(data["bq"]);
              $('#bg').html(data["bg"]);
              
              $('#sc').html(data["sc"]);
              $('#sq').html(data["sq"]);
              $('#sg').html(data["sg"]);
              
              $('#ic').html(data["ic"]);
              $('#iq').html(data["iq"]);
              $('#ig').html(data["ig"]);
              
              $('#q_nc').html(data["q_nc"]);
              
              $("#latex").val(data["latex"]);
              
              $("#result").val(data["q_ult"]);

              if (callback) {
                  callback(calc_resp);
              }
          }
      }
    
    function populate(B, L, a, H, cu, alpha_deg, q) {
        
        $("#Breadth").val(B);
        $("#Length").val(L);
        $("#Area").val(a);
        $("#HLoad").val(H);
        $("#Cu").val(cu);
        $("#alpha_deg").val( alpha_deg);
        $("#surcharge").val( q);
           
        //reset results 
        $("#result").val("");
        $("#response").html("")
        
        $("#nc").html( "")
        $("#bc").html( "")
        $("#sc").html( "")
        $("#ic").html( "")
        $("#q_nc").html( "")
       
        $("#nq").html( "")
        $("#bq").html( "")
        $("#sq").html( "")
        $("#iq").html( "")
        $("#q_nq").html( "")
        
        $("#latex").html( "")
        
        $("#ng").html( "")
        $("#bg").html( "")
        $("#sg").html( "")
        $("#ig").html( "")
        $("#q_ng").html( "")
      
       
    }
   
    
</script>
